kubernetes==11.0.0
apache-airflow-providers-cncf-kubernetes==2.0.2
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
